swagger: "2.0"
info:
  title: Relex API
  description: RESTful API for Relex Backend
  version: 1.0.0
host: api.relex.ro
basePath: /v1
schemes:
  - https
security:
  - firebase: []

securityDefinitions:
  firebase:
    type: http
    scheme: bearer
    bearerFormat: JWT
    x-google-issuer: "https://securetoken.google.com/relexro"
    x-google-jwks_uri: "https://www.googleapis.com/service_accounts/v1/metadata/x509/securetoken@system.gserviceaccount.com"
    x-google-audiences: "relexro"

paths:
  # User profile endpoints
  /users/me:
    get:
      summary: Get user profile
      operationId: getUserProfile
      security:
        - firebase: []
      x-google-backend:
        address: https://europe-west3-relexro.cloudfunctions.net/relex-backend-get-user-profile
        path_translation: CONSTANT_ADDRESS
        deadline: 30.0
      responses:
        '200':
          description: User profile
          schema:
            $ref: '#/definitions/UserProfile'
        '401':
          $ref: '#/definitions/Unauthorized'
        '404':
          $ref: '#/definitions/NotFound'
        '500':
          $ref: '#/definitions/InternalServerError'
    put:
      summary: Update user profile
      operationId: updateUserProfile
      security:
        - firebase: []
      x-google-backend:
        address: https://europe-west3-relexro.cloudfunctions.net/relex-backend-update-user-profile
        path_translation: CONSTANT_ADDRESS
        deadline: 30.0
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            properties:
              displayName:
                type: string
              photoURL:
                type: string
              languagePreference:
                type: string
                enum: [en, ro]
      responses:
        '200':
          description: User profile updated
          schema:
            $ref: '#/definitions/UserProfile'
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '404':
          $ref: '#/definitions/NotFound'
        '500':
          $ref: '#/definitions/InternalServerError'

  /users/me/organizations:
    get:
      summary: List user's organizations
      operationId: listMyOrganizations
      security:
        - firebase: []
      x-google-backend:
        address: https://europe-west3-relexro.cloudfunctions.net/relex-backend-list-user-organizations
        path_translation: CONSTANT_ADDRESS
        deadline: 30.0
      responses:
        '200':
          description: List of organizations
          schema:
            type: object
            properties:
              organizations:
                type: array
                items:
                  $ref: '#/definitions/OrganizationSummary'
        '401':
          $ref: '#/definitions/Unauthorized'
        '500':
          $ref: '#/definitions/InternalServerError'

  /users/me/cases:
    get:
      summary: List user's individual cases
      operationId: listMyCases
      security:
        - firebase: []
      x-google-backend:
        address: https://europe-west3-relexro.cloudfunctions.net/relex-backend-list-cases
        path_translation: CONSTANT_ADDRESS
        deadline: 30.0
      parameters:
        - name: status
          in: query
          required: false
          type: string
          enum: [open, archived, deleted]
        - name: limit
          in: query
          required: false
          type: integer
      responses:
        '200':
          description: List of cases
          schema:
            type: object
            properties:
              cases:
                type: array
                items:
                  $ref: '#/definitions/Case'
        '401':
          $ref: '#/definitions/Unauthorized'
        '500':
          $ref: '#/definitions/InternalServerError'

  # Organization endpoints
  /organizations:
    post:
      summary: Create a new organization
      operationId: createOrganization
      security:
        - firebase: []
      x-google-backend:
        address: https://europe-west3-relexro.cloudfunctions.net/relex-backend-create-organization
        path_translation: CONSTANT_ADDRESS
        deadline: 30.0
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - name
              - type
            properties:
              name:
                type: string
                description: Name of the organization
              type:
                type: string
                description: Type of organization (e.g., law_firm)
              address:
                type: string
                description: Address of the organization
              phone:
                type: string
                description: Phone number of the organization
              email:
                type: string
                description: Email of the organization
      responses:
        '201':
          description: Organization created successfully
          schema:
            $ref: '#/definitions/Organization'
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '500':
          $ref: '#/definitions/InternalServerError'

  # Case endpoints
  /cases:
    post:
      summary: Create an individual case
      operationId: createIndividualCase
      security:
        - firebase: []
      x-google-backend:
        address: https://europe-west3-relexro.cloudfunctions.net/relex-backend-create-case
        path_translation: CONSTANT_ADDRESS
        deadline: 30.0
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - title
              - description
              - paymentIntentId
            properties:
              title:
                type: string
                description: Title of the case
              description:
                type: string
                description: Description of the case
              paymentIntentId:
                type: string
                description: Stripe payment intent ID
      responses:
        '201':
          description: Case created successfully
          schema:
            $ref: '#/definitions/Case'
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '500':
          $ref: '#/definitions/InternalServerError'

  /organizations/{organizationId}/cases:
    post:
      summary: Create an organization case
      operationId: createOrganizationCase
      security:
        - firebase: []
      x-google-backend:
        address: https://europe-west3-relexro.cloudfunctions.net/relex-backend-create-case
        path_translation: CONSTANT_ADDRESS
        deadline: 30.0
      parameters:
        - name: organizationId
          in: path
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - title
              - description
            properties:
              title:
                type: string
                description: Title of the case
              description:
                type: string
                description: Description of the case
              caseType:
                type: string
                description: Type of the case
      responses:
        '201':
          description: Case created successfully
          schema:
            $ref: '#/definitions/Case'
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '403':
          $ref: '#/definitions/Forbidden'
        '500':
          $ref: '#/definitions/InternalServerError'
    get:
      summary: List organization cases
      operationId: listOrganizationCases
      security:
        - firebase: []
      x-google-backend:
        address: https://europe-west3-relexro.cloudfunctions.net/relex-backend-list-cases
        path_translation: CONSTANT_ADDRESS
        deadline: 30.0
      parameters:
        - name: organizationId
          in: path
          required: true
          type: string
        - name: status
          in: query
          required: false
          type: string
          enum: [open, archived, deleted]
        - name: limit
          in: query
          required: false
          type: integer
      responses:
        '200':
          description: List of cases
          schema:
            type: object
            properties:
              cases:
                type: array
                items:
                  $ref: '#/definitions/Case'
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '403':
          $ref: '#/definitions/Forbidden'
        '500':
          $ref: '#/definitions/InternalServerError'

  # Organization members endpoints
  /organizations/{organizationId}/members:
    get:
      summary: List organization members
      operationId: listOrganizationMembers
      security:
        - firebase: []
      x-google-backend:
        address: https://europe-west3-relexro.cloudfunctions.net/relex-backend-list-organization-members
        path_translation: CONSTANT_ADDRESS
        deadline: 30.0
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of organization members
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/definitions/OrganizationMember'
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '403':
          $ref: '#/definitions/Forbidden'
        '404':
          $ref: '#/definitions/NotFound'
        '500':
          $ref: '#/definitions/InternalServerError'
    post:
      summary: Add member to organization
      operationId: addOrganizationMember
      security:
        - firebase: []
      x-google-backend:
        address: https://europe-west3-relexro.cloudfunctions.net/relex-backend-add-organization-member
        path_translation: CONSTANT_ADDRESS
        deadline: 30.0
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - role
              properties:
                userId:
                  type: string
                  description: ID of user to add
                role:
                  type: string
                  description: Role for the user (staff or administrator)
                  enum: [staff, administrator]
      responses:
        '200':
          description: Member added successfully
          content:
            application/json:
              schema:
                $ref: '#/definitions/MembershipResponse'
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '403':
          $ref: '#/definitions/Forbidden'
        '404':
          $ref: '#/definitions/NotFound'
        '409':
          $ref: '#/definitions/Conflict'
        '500':
          $ref: '#/definitions/InternalServerError'

  /organizations/{organizationId}/members/{userId}:
    put:
      summary: Update member role
      operationId: setOrganizationMemberRole
      security:
        - firebase: []
      x-google-backend:
        address: https://europe-west3-relexro.cloudfunctions.net/relex-backend-set-organization-member-role
        path_translation: CONSTANT_ADDRESS
        deadline: 30.0
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - newRole
              properties:
                newRole:
                  type: string
                  enum: [staff, administrator]
      responses:
        '200':
          description: Member role updated successfully
          content:
            application/json:
              schema:
                $ref: '#/definitions/MembershipResponse'
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '403':
          $ref: '#/definitions/Forbidden'
        '404':
          $ref: '#/definitions/NotFound'
        '500':
          $ref: '#/definitions/InternalServerError'
    delete:
      summary: Remove member from organization
      operationId: removeOrganizationMember
      security:
        - firebase: []
      x-google-backend:
        address: https://europe-west3-relexro.cloudfunctions.net/relex-backend-remove-organization-member
        path_translation: CONSTANT_ADDRESS
        deadline: 30.0
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Member removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  userId:
                    type: string
                  organizationId:
                    type: string
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '403':
          $ref: '#/definitions/Forbidden'
        '404':
          $ref: '#/definitions/NotFound'
        '500':
          $ref: '#/definitions/InternalServerError'

  # File endpoints
  /cases/{caseId}/files:
    post:
      summary: Upload file to a case
      operationId: uploadFile
      security:
        - firebase: []
      x-google-backend:
        address: https://europe-west3-relexro.cloudfunctions.net/relex-backend-upload-file
        path_translation: CONSTANT_ADDRESS
        deadline: 60.0
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                fileName:
                  type: string
      responses:
        '201':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/definitions/FileResponse'
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '403':
          $ref: '#/definitions/Forbidden'
        '404':
          $ref: '#/definitions/NotFound'
        '500':
          $ref: '#/definitions/InternalServerError'

  /files/{fileId}:
    get:
      summary: Download a file
      operationId: downloadFile
      security:
        - firebase: []
      x-google-backend:
        address: https://europe-west3-relexro.cloudfunctions.net/relex-backend-download-file
        path_translation: CONSTANT_ADDRESS
        deadline: 60.0
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: File content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/definitions/BadRequest'
        '404':
          $ref: '#/definitions/NotFound'
        '500':
          $ref: '#/definitions/InternalServerError'

definitions:
  UserProfile:
    type: object
    properties:
      userId:
        type: string
      email:
        type: string
      displayName:
        type: string
      photoURL:
        type: string
      role:
        type: string
        enum: [user, admin]
      subscriptionStatus:
        type: string
        enum: [active, inactive]
      languagePreference:
        type: string
        enum: [en, ro]
      createdAt:
        type: string
        format: date-time
      updatedAt:
        type: string
        format: date-time

  Organization:
    type: object
    properties:
      organizationId:
        type: string
      name:
        type: string
      type:
        type: string
      address:
        type: string
      phone:
        type: string
      email:
        type: string
      createdAt:
        type: string
        format: date-time
      ownerId:
        type: string
    
  OrganizationSummary:
    type: object
    properties:
      organizationId:
        type: string
      name:
        type: string
      type:
        type: string
      role:
        type: string
    
  OrganizationMember:
    type: object
    properties:
      userId:
        type: string
      role:
        type: string
      addedAt:
        type: string
        format: date-time
      email:
        type: string
      displayName:
        type: string
    
  MembershipResponse:
    type: object
    properties:
      success:
        type: boolean
      membershipId:
        type: string
      userId:
        type: string
      organizationId:
        type: string
      role:
        type: string
      email:
        type: string
      displayName:
        type: string
    
  Case:
    type: object
    properties:
      caseId:
        type: string
      title:
        type: string
      description:
        type: string
      caseType:
        type: string
      userId:
        type: string
      organizationId:
        type: string
      status:
        type: string
      createdAt:
        type: string
        format: date-time
      paymentStatus:
        type: string
        enum: [paid, pending]
      paymentIntentId:
        type: string
    
  FileResponse:
    type: object
    properties:
      success:
        type: boolean
      fileId:
        type: string
      fileName:
        type: string
      fileUrl:
        type: string
      caseId:
        type: string
      uploadedAt:
        type: string
        format: date-time

  BadRequest:
    type: object
    properties:
      error:
        type: string
      message:
        type: string
    
  Unauthorized:
    type: object
    properties:
      error:
        type: string
      message:
        type: string
    
  Forbidden:
    type: object
    properties:
      error:
        type: string
      message:
        type: string
    
  NotFound:
    type: object
    properties:
      error:
        type: string
      message:
        type: string
    
  Conflict:
    type: object
    properties:
      error:
        type: string
      message:
        type: string
    
  InternalServerError:
    type: object
    properties:
      error:
        type: string
      message:
        type: string 